#!/bin/sh

# configures chezmoi to decrypt the passphrase-encrypted private key if needed
if [ ! -f "$HOME/.config/chezmoi/key.txt" ]; then
	mkdir -p "$HOME/.config/chezmoi"
	chezmoi age decrypt --output "$HOME/.config/chezmoi/key.txt" \
	--passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
	chmod "u=rw,g=,o=" "$HOME/.config/chezmoi/key.txt"
fi
